body, html {
	background-color: #2C3240;
	margin: 0;
	padding: 0;
	line-height: 1.4;
	font-family:  Georgia;
}

strong {
	font-weight: normal;
	font-family: Times New Roman;
}

h2, p, a, h1 {
	color: #FBFBFB;
}

h2, p {
	width: 30em;	
}

h2 {
	font-size: 30px;
}

p {
	font-size: 1.25em;
}

.outer {
	margin-top: -2px;
}

	.inner {
		padding: 4em 0 4em 0 ;
	}

		.content {
			margin: 0 auto;
			width: 60em;
		}

#header {
	/**/
}

			#header .inner .content h1 {
				font-size: 2.25em;
			}

#first, #second, #last {
	background-color: #2C428F;
}

#first {
	clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%);
}
	#first .inner{
		clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 90%);
		background-color: #485B9E;
	}

#second {
	/**/
}
	
	#second .inner {
		padding: 1em 0 1em 0 ;
	}


#last {
	clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
}

	#last .inner{
		clip-path: polygon(0 10%, 100% 0, 100% 90%, 0 100%);
		background-color: #213270;
		padding: 4em 0 6em 0 ;
	}


#footer {
	/**/
}
		#footer .inner {
			padding: 4em 0 0em 0 ;
		}

				#footer .inner .content h1 {
					font-size: 1.2em;
					font-weight: normal;
				}

#floatingbuttons{
	position: fixed; 
    right: 0.3em;
    bottom: 0.0em;
}

	#floatingbuttons .button {
		padding: 0.1em;
	}

			#floatingbuttons .button a img {
				/*width: 3.5em;
				height: 3.5em;
*/
				width: 55px;
				height: 55px;
			}


@media screen and (max-width: 1110px) {

	.content {
		margin: 0 auto;
		width: 100%
	}

	h2, p {
		width: 100%;	
	}
	
}
